html {
  font-family: 'Open Sans', sans-serif;
}

form {
  background-color: #fff;
}

h1 {
  border-bottom: 1px solid #000;
}

input, textarea, select {
  border-color: #ccc;
}

.btn {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (min-width: 60em) {

  html {
    background-color: #f2f2f2;
  }

}
